<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dmitrykuznetsov.rememberbirthday">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".features.main.BirthdaysActivity"
            android:label="@string/title_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.birthday.add.AddPersonActivity"
            android:label="@string/title_add_person"
            android:parentActivityName=".features.main.BirthdaysActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".features.birthday.detail.DetailBirthdayActivity"
            android:parentActivityName=".features.main.BirthdaysActivity"/>

        <activity android:name=".features.birthday.edit.EditPersonActivity"
            android:parentActivityName=".features.main.BirthdaysActivity"/>

        <activity
        android:name=".features.settings.SettingsActivity"
        android:label="@string/title_activity_settings" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>


        <provider
            android:name=".common.data.RememberContentProvider"
            android:authorities="dmitrykuznetsov.rememberbirthday.provider"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".common.receiver.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="dmitrykuznetsov.rememberbirthday.ACTION_REFRESH_DATA" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".common.service.notification.NotificationService"
            android:enabled="true"
            android:permission="dmitrykuznetsov.rememberbirthday.MY_SERVICE_PERMISSION" />

    </application>

</manifest>
